Repository offensive-vk/AwesomeScripts, changes with the labels that .github/labeler.yml gives for each.
All labels: ci/cd, configs, template, Dockerfile, dotfiles, markdown, devcontainer, gh-actions, python, shell, npm, legacy, C/C++

Add Basic Pipelines.
  pipelines/Introduction.md
  pipelines/build-and-test.yml
  pipelines/hello-ci.yml
  pipelines/template-ci.yml
Labels: markdown

Cool Pipelines + Docs.
  README.md
  navigation.md
  package.json
  pipelines/build-and-test.yml
  pipelines/deploy-ci.yml
  pipelines/docker-ci.yml
  pipelines/docker-image-ci.yml
  pipelines/hello-ci.yml
  pipelines/template-ci.yml
Labels: markdown

Update README.md
  README.md
Labels: markdown

Create deploy.yml
  .github/workflows/deploy.yml
Labels: ci/cd

Improved Readme. (#70)
  README.md
Labels: markdown

Add Deploy CI (#71)
  .github/workflows/deploy.yml
Labels: ci/cd

Few Changes.
  .github/workflows/auto-label.yml
  .github/workflows/deploy.yml
  .github/workflows/docker-image.yml
  .github/workflows/docker-publish.yml
  .github/workflows/mirror.yml
  Dockerfile
  README.md
Labels: ci/cd, Dockerfile, dotfiles, markdown

Maintainance. (#72)
  .github/workflows/auto-label.yml
  .github/workflows/deploy.yml
  .github/workflows/docker-image.yml
  .github/workflows/docker-publish.yml
  .github/workflows/mirror.yml
  Dockerfile
  README.md
Labels: ci/cd, Dockerfile, dotfiles, markdown

.github/labeler.yml:

# ** DO NOT MODIFY **
ci/cd:
  - '*.yml'
  - '.github/workflows/*.yml'
  - 'Dockerfile'
  - 'compose.yaml'

configs:
  - 'configs/*'

template:
  - '.github/Auto_Pull_Request.md'
  - '.github/Auto_Issue_Template.md'

Dockerfile:
  - 'Dockerfile'

dotfiles:
  - '.gitlab-ci.yml'
  - '.gitignore'
  - '.gitattributes'
  - '.dockerignore'
  - '.npmrc'
  - 'Dockerfile'
  - 'LICENSE'
  - 'package-*.json'
  - 'pnpm-lock.yaml'

markdown:
  - '**/*.md'
  - './**/*.md'

devcontainer:
  - '.devcontainer/*'

gh-actions:
  - 'gh-actions/*'

python:
  - 'python/*'
  - '**/*.py'

shell:
  - 'shell/*'
  - '**/*.sh'

npm:
  - 'npm/*'
  - '.npmrc'
  - '.nvmrc'

legacy:
  - 'legacy/*'
  - '**/*.c'
  - '**/*.cpp'

C/C++:
  - 'legacy/*'
  - '**/*.c'
  - '**/*.cpp'

# ** DO NOT MODIFY **
