Repository offensive-vk/AwesomeScripts, pull requests merged in 2024-08, with the labels that each got.

#62 Update VS Code Extension List.
  configs/extensions.txt
Labels: configs, enhancement

#64 Add Gitlab Mirror. - Aug
  .github/workflows/mirror.yml
Labels: enhancement, yml

#66 Updated Actions.
  .github/data.json
  .github/workflows/docker-image.yml
  .github/workflows/docker-publish.yml
  .github/workflows/mirror.yml
  package-lock.json
Labels: configs, enhancement, yml, unknown
